<%- include('../includes/header')  %> 

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Locations</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
           <a class="btn btn-outline-primary" href="/admin/add-location">Add Location</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>City</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% locations.forEach((location,index) => { %>
                     <tr>
                         <td><%= index+1 %> </td>
                         <td><img src="/images/<%= location.image %> " width="50px" alt=""> </td>
                         <td><%= location.title %> </td>
                         <td><%= location.city %> </td>
                         <td> 
                             <a href="#">Edit</a>
                             <a href="#">Delete</a>
                         </td>
                     </tr>
                    <% }) %>
                   
                </tbody>
            </table>

        </div>
    </div>
</div>



<%- include('../includes/footer')  %> 
