<%-include('includes/header') %>
<div class="container single-container">
    <div class="row">
        <div class="col-lg-6">
            <img width="100%" src="/images/<%- char.image %> " alt="character image">
        </div>
        <div class="col-md-6 single-data">
            <h1><%= char.name %> </h1>
            <p><b>Status:</b><%= char.status %> </p>
            <p><b>Gender:</b><%= char.gender %> </p>
            <p><b>Age:</b><%= char.age == 0 ? "unknown" : char.age %> </p>
            <small><b>About:</b></small>
            <p><%= char.article %> </p>
        </div>
    </div>
</div>
<%-include('includes/footer') %>
